@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Navigation Start */

header {
	@apply flex flex-col-reverse w-full lg:flex-col;
}

header .topbar {
	@apply border-0 border-t border-gray-400 border-opacity-50 border-solid py-4 md:border-b md:border-t-0 lg:pb-5 lg:pt-6;
}

header .topbar-content {
	@apply flex justify-center lg:justify-end;
}

header .topbar .topbar-icon {
	@apply inline-flex relative cursor-pointer duration-300 mx-3 text-lg text-gray-500 transform;
}

header .topbar .topbar-icon:hover {
	@apply scale-105 text-gray-700;
}

.topbar-icon .topbar-icon-notification {
	font-size: 10px;
	@apply absolute bg-white border border-gray-500 border-solid h-5 inline-flex -right-3 -top-3 items-center justify-center rounded-full w-5;
}

header .topbar .topbar-icon.open-menu-icon {
	@apply lg:!hidden;
}

.navbar {
	@apply py-4;
}

.navbar-content {
	@apply flex justify-center lg:items-center lg:justify-between;
}

.navbar .logo {
	@apply font-semibold outline-1 outline-gray-100 outline-dotted text-purple-800 text-3xl uppercase;
}

.navbar .menu-container {
	background-color: rgba(0, 0, 0, 0.5);
	@apply duration-500 opacity-0 fixed top-0 left-0 h-full w-full z-[-100] lg:z-0 lg:opacity-100 lg:duration-0 lg:static lg:h-auto lg:w-auto lg:bg-transparent;
}

.navbar .menu-container.show {
	@apply opacity-100 z-[100];
}

.menu-container .menu {
	@apply bg-gray-100 duration-500 h-full ml-auto transition transform translate-x-full opacity-0 w-2/3 md:w-1/2 lg:bg-transparent;
}

.menu-container.show .menu {
	@apply translate-x-0 opacity-100;
}

.menu-container .menu {
	@apply lg:bg-transparent lg:flex lg:items-center lg:duration-0 lg:translate-x-0 lg:opacity-100 lg:h-auto lg:w-auto lg:transition-none lg:transform-none;
}

.menu .close-menu-button {
	@apply bg-cyan-700 capitalize cursor-pointer flex items-center justify-between px-2 py-3 text-gray-100 text-sm lg:hidden;
}

.menu .menu-list {
	@apply list-none lg:flex lg:items-center;
}

.menu-list .menu-list-item {
	@apply border-0 border-b border-gray-400 border-opacity-50 border-solid lg:mx-2 lg:last:mr-0 lg:border-0;
}

.menu-list-item a {
	@apply block duration-500 px-2 py-3 no-underline text-gray-800 text-sm uppercase transition-colors lg:font-medium lg:p-0 lg:text-center lg:text-xs;
}

.menu-list-item a:hover {
	@apply bg-cyan-700 font-medium text-gray-100 lg:bg-transparent lg:text-red-600;
}

/* Navigation Stop */

/* Common Start */

.wrapper {
	@apply container mx-auto px-4;
}

.container-title {
	@apply font-bold my-2 text-xl text-center text-gray-900 md:text-2xl lg:text-3xl;
}

.container-subtitle {
	@apply font-normal leading-6 my-4 text-center text-base text-gray-900 md:text-lg;
}

.container-description {
	@apply text-sm text-gray-800 text-center lg:text-base;
}

/* Common Stop */

/* Hero Section Start */

.hero-container {
	background: url('../images/banner-ch.jpg');
	@apply bg-gray-100 py-16;
}

.hero-content {
	@apply max-w-2xl;
}

.hero-title {
	@apply my-3 text-3xl text-gray-100 tracking-wide md:text-4xl lg:text-5xl;
}

.hero-tag-info {
	@apply bg-orange-400 font-medium inline-block my-1 px-4 py-2 rounded-sm text-gray-800 md:my-2 lg:my-3;
}

.hero-description {
	@apply my-1 font-medium text-sm text-gray-100 lg:text-base;
}

.hero-services {
	@apply flex items-center list-none my-8;
}

.hero-service {
	@apply flex items-center px-3 border-0 border-r border-gray-100 border-solid;
}

.hero-service:first-child {
	@apply pl-0;
}

.hero-service:last-child {
	@apply border-0;
}

.hero-service-icon {
	@apply bg-gray-100 flex h-8 items-center justify-center rounded-full text-gray-700 w-8;
}

.hero-service-title {
	@apply text-xs ml-1 text-gray-100 md:text-sm;
}

.hero-content .hero-cta {
	@apply bg-green-800 duration-100 transition-all transform capitalize inline-block mt-3 px-10 py-4 text-center text-gray-100 text-sm no-underline rounded-sm;
}

.hero-content .hero-cta .arrow-icon {
	@apply hidden duration-1000 transition-all transform ease-in-out text-sm;
}

.hero-content .hero-cta:hover .arrow-icon {
	@apply inline ml-2;
}

/* Hero Section Stop */

/* Pricing Section Start */

.pricing-container {
	@apply bg-gray-100 py-4;
}

.pricing-container .container-description {
	@apply max-w-xs mx-auto lg:max-w-xl;
}

.pricings {
	@apply grid grid-cols-1 gap-6 list-none my-3 py-4 w-full md:gap-4 md:grid-cols-2 lg:gap-2 lg:grid-cols-4;
}

.pricing {
	@apply bg-white border border-gray-300 p-4 rounded w-full;
}

.pricing-title {
	@apply text-xl text-gray-700 font-bold mb-2 text-center uppercase;
}

.pricing-description {
	@apply my-3 text-center text-sm text-gray-500;
}

.pricing-price {
	@apply font-bold text-gray-700 text-xl text-center;
}

.pricing-price small {
	@apply !text-gray-400 font-normal;
}

.pricing .hr-line {
	@apply mb-2 mt-3 h-[0.5px] border-0 border-t border-gray-200 border-opacity-50 border-solid;
}

.pricing-list {
	@apply list-none pt-2;
}

.pricing-list-item {
	@apply flex items-center justify-center text-center text-sm text-gray-700 my-3;
}

.pricing-item-icon {
	@apply text-xs text-gray-700 mr-2;
}

.pricing-footer {
	@apply flex flex-col items-center;
}

.pricing-footer-title {
	@apply font-bold text-lg my-2 text-center text-gray-700;
}

.pricing-footer-description {
	@apply text-center text-sm my-2 text-gray-700;
}

.pricing-footer-cta {
	@apply bg-gray-900 border-transparent border-2 border-solid cursor-pointer duration-500 my-4 px-6 py-4 rounded-sm text-gray-100 text-base uppercase transition-colors transform no-underline scale-100;
}

.pricing-footer-cta:hover {
	@apply text-gray-700 bg-transparent border-gray-700;
}

.pricing.purple .pricing-title {
	@apply text-purple-700;
}

.pricing.purple .pricing-price {
	@apply text-purple-700;
}

.pricing.purple .pricing-item-icon {
	@apply text-purple-700;
}

.pricing.red .pricing-title {
	@apply text-red-500;
}

.pricing.red .pricing-price {
	@apply text-red-500;
}

.pricing.red .pricing-item-icon {
	@apply text-red-500;
}

.pricing.dark-green .pricing-title {
	@apply text-green-900;
}

.pricing.dark-green .pricing-price {
	@apply text-green-900;
}

.pricing.dark-green .pricing-item-icon {
	@apply text-green-900;
}

/* Pricing Section Stop */

/* Get Started Start */

.get-started-container {
	@apply bg-purple-900 py-4 text-center text-gray-100;
}

.get-started-content {
	@apply px-8 py-6;
}

.get-started-title {
	@apply font-light text-center text-lg;
}

.get-started-cta {
	@apply bg-transparent border-2 border-gray-100 border-solid inline-block cursor-pointer duration-500 mt-6 px-5 py-3 rounded-sm text-gray-100 text-base uppercase transition-colors transform no-underline scale-100;
}

.get-started-cta:hover {
	@apply text-red-500 border-red-500 bg-gray-100;
}

/* Get Started Stop */

/* Features Section Start */

.features-container {
	@apply bg-gray-50 py-8;
}

.features {
	@apply grid grid-cols-1 gap-3 list-none my-4 w-full md:grid-cols-2 lg:grid-cols-3;
}

.feature {
	@apply bg-white border-gray-50 border border-solid duration-500 flex flex-col items-center p-5 relative rounded-sm transition transform w-full;
}

.feature::after,
.feature::before {
	content: '';
	@apply absolute bg-red-500 duration-1000 h-[1px] w-0 transition-all transform;
}

.feature::after:hover,
.feature::before:hover {
	@apply w-1/4;
}

.feature::after {
	@apply bottom-0 right-0;
}

.feature::before {
	@apply left-0 top-0;
}

.feature:hover {
	@apply scale-105;
}

/* Just for diff colors */
.feature:first-child .feature-image {
	@apply text-red-600 border-red-600;
}

.feature:nth-child(2) .feature-image {
	@apply text-green-600 border-green-600;
}

.feature:nth-child(3) .feature-image {
	@apply text-yellow-600 border-yellow-600;
}

.feature:nth-child(4) .feature-image {
	@apply text-purple-600 border-purple-600;
}

.feature:nth-child(5) .feature-image {
	@apply text-red-600 border-red-600;
}

.feature:last-child .feature-image {
	@apply text-blue-600 border-blue-600;
}

.feature-image {
	@apply flex h-16 items-center justify-center border-2 border-gray-700 border-solid rounded-full text-3xl text-gray-700 w-16;
}

.feature-title {
	@apply font-bold my-2 text-center text-lg text-gray-800 uppercase;
}

.feature-description {
	@apply font-normal my-1 text-sm text-center text-gray-600;
}

/* Features Section Stop */

/* Become a Seller Start */

.become-seller-container {
	@apply bg-gray-100 py-8;
}

.become-seller-content {
	@apply px-4 md:flex md:items-center;
}

.become-seller-image {
	@apply h-[300px] mx-auto max-w-[350px] w-full md:w-1/2;
}

.become-seller-image img {
	@apply h-full w-full;
}

.become-seller-data {
	@apply md:w-1/2;
}

.become-seller-data .container-title,
.become-seller-data .container-description {
	@apply text-left;
}

.seller-benefits {
	@apply list-none my-2 md:grid md:grid-cols-2 md:gap-x-2 md:gap-y-4 md:my-4;
}

.seller-benefit {
	@apply flex items-center justify-start text-left text-sm text-gray-700 my-3 md:my-0;
}

.seller-benefit-icon {
	@apply text-xs text-red-600 mr-2;
}

/* Become a Seller Stop */

/* Credits Start */

.credits-container {
	@apply bg-gray-100 py-8;
}

.credits {
	@apply grid grid-cols-1 gap-5 list-none w-full md:gap-4 md:grid-cols-2 lg:gap-2 lg:grid-cols-4;
}

.credit {
	@apply bg-gray-50 border-gray-200 border border-solid duration-500 flex flex-col items-center p-5 rounded-sm shadow-md transition transform w-full;
}

.credit:hover {
	@apply -translate-y-4;
}

.credit-header {
	@apply flex flex-col items-center;
}

.credit-header-title {
	@apply font-bold mb-1 text-center text-2xl text-gray-900 uppercase;
}

.credit-underline {
	@apply bg-red-500 h-[3px] my-2 w-1/4;
}

.credit-header-description {
	@apply font-medium my-1 text-sm text-center text-gray-800;
}

.credit-header-description strong {
	@apply font-semibold;
}

.credit-footer {
	@apply flex flex-col items-center mt-2 pt-2;
}

.credit-footer p {
	@apply font-medium my-1 text-gray-700 text-sm text-center;
}

.credit-footer .credit-price {
	@apply font-black mt-2 text-center text-2xl text-gray-900 uppercase;
}

.credit-cta {
	@apply bg-red-500 border-transparent border-2 border-solid cursor-pointer duration-500 my-4 px-6 py-4 rounded-sm text-gray-100 text-base uppercase transition-colors transform no-underline scale-100;
}

.credit-cta:hover {
	@apply text-red-600 bg-transparent border-red-500;
}

/* Credits Stop */

/* Support Ticket Start */

.support-ticket-container {
	@apply bg-red-600 py-8;
}

.support-ticket-content {
	@apply flex items-center justify-center py-5;
}

.support-image {
	@apply border-2 border-gray-100 border-solid flex items-center justify-center h-16 rounded-full text-2xl text-gray-100 w-16;
}

.support-content {
	@apply ml-5;
}

.support-content a {
	@apply cursor-pointer duration-700 text-gray-100 text-lg uppercase transition-colors no-underline;
}

.support-content a:hover {
	@apply text-blue-500;
}

/* Support Ticket Stop */

/* Footer Start */

footer {
	@apply bg-gray-800;
}

.footer-container {
	@apply py-8;
}

.footer-list {
	@apply list-none gap-3 grid grid-cols-1 md:grid-cols-2 lg:gap-2 lg:grid-cols-4;
}

.footer-item.about {
	@apply pr-2;
}

.footer-item-title {
	@apply capitalize mb-3 text-3xl text-gray-200;
}

.footer-item-description {
	@apply my-2 text-gray-300 text-sm;
}

.footer-cta {
	@apply bg-red-500 cursor-pointer duration-500 inline-block my-3 px-6 py-3 rounded-sm text-gray-100 text-base uppercase transition-colors transform no-underline;
}

.footer-cta:hover {
	@apply bg-red-600;
}

.footer-links {
	@apply list-none my-4;
}

.footer-link {
	@apply my-2;
}

.footer-link a {
	@apply capitalize text-gray-300 text-sm no-underline;
}

.footer-link a:hover {
	@apply underline;
}

.footer-base {
	@apply bg-gray-900 py-3 tracking-tight text-sm text-gray-100 text-center;
}

/* Footer Stop */
